body {
    background-color: rgb(64, 182, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bubblegum Sans';
}

.header {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 35px;
}

.btnContainer {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.choice {
    flex: 1;
    height: 230px;
    border-radius: 500px;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.4);
}

#rock {
    background-color: rgb(255, 188, 72);
}

#scissors {
    background-color: rgb(255, 75, 75);
}

#paper {
    background-color: rgb(136, 238, 145);
}

.announce {
    display: flex;
    color: rgb(255, 255, 255);
    justify-content: center;
    margin: 20px;
    font-size: 30px;
}

.scores{
    color: white;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.computerScores,
.humanScores {
    color: white;
}

.resetContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.gameContainer {
    width: 700px;
    margin-top: 100px;
}

.gameRecord {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.rpsImg {
    height: 100px;
    width: 100px;
}

.roundContainer {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    margin: 0px;
    padding: 0px;
}

h1 {
    margin: 0;
}